@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
body {
  margin: 0;
  font-family: "Manrope", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Be Vietnam Pro", sans-serif;
}

html,
html a {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004) !important;
}

#id,
.mantine-Text-root,
.mantine-Button-filled,
.mantine-1a6i1ew,
.mantine-1y83scd,
.mantine-lh1194,
.mantine-1kfvr5r {
  font-family: "Manrope", sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
}

.header-home {
  color: #000;
  text-decoration: none !important;
  font-family: "Manrope", sans-serif !important;
  font-weight: 400;
}

input,
.mantine-Card-root {
  font-family: "Manrope", sans-serif !important;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-container-horizontal-align-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-container-no-horizontal-align {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-container-no-vertical-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.height-full-vh {
  height: 100vh !important;
}

.height-full-perc {
  height: 100% !important;
}

.mobile-header {
  height: 70vh;
  margin-top: 5rem;
  transition: width 2s;
}
@media screen and (min-width: 800px) {
  .mobile-header {
    display: none !important;
  }
}

.mantine-Header-root {
  background-color: #000000 !important;
}

.mantine-Header-root .mantine-TextInput-withIcon {
  background-color: #373a40 !important;
  border: 1px solid #373a40 !important;
}

.mantine-Header-root .mantine-TextInput-input {
  color: white !important;
  font-weight: 600 !important;
}
.mantine-Header-root a {
  color: white !important;
  font-weight: 700 !important;
}

.mantine-Header-root .mantine-ActionIcon-root {
  background-color: #37393d !important;
  border: 1px solid #373a40 !important;
}

.mantine-Header-root .mantine-ActionIcon-root svg {
  color: white !important;
  font-size: 16px !important;
}

.mantine-Header-root .flex-container-no-horizontal-align svg {
  color: white !important;
}

.admin-select {
  background-color: rgb(44, 46, 51) !important;
}

.mantine-1oloea9 {
  background-color: #373a40 !important;
  border: none !important;
  width: 400px !important;
  color: white !important;
  font-weight: 600 !important;
}
